h1,h2 {
    color: orangered;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:  black;
  }
  
  p{
    color: blue;
    background-color: antiquewhite;
    font-size: medium;
    font-style: italic;
  }
  
  div {
    background-color: cadetblue;
    border: 10px solid navy;
    color: violet;
  }